@model IEnumerable<MMO_Mania.Models.CharListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{ 
<div class="alert alert-success fade in" role="alert">

    <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
    </button>
    @TempData["SaveResult"]
</div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Char_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Char_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achievements)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Char_Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Game)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Char_Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Level)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Achievements)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatedUtc)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Char_Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Char_Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Char_Id })
    </td>
</tr>
    }

</table>
